# --- Angular & Frontend ---
/frontend/dist/
/frontend/out-tsc/
/frontend/bazel-out/
/frontend/.angular/
/frontend/node_modules/
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/runtime/

# --- .NET & Backend ---
**/bin/
**/obj/
**/publish/
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

# --- IDEs & System Files ---
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db
desktop.ini

# --- Environment & Secrets ---
.env
.env.*
! .env.example
backend/appsettings.Development.json